* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sigmar-regular {
  font-family: "Sigmar", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--dark);
  font-size: 1.5rem;
}

.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

.dynapuff-font {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1.5rem;
}

.kablammo-font {
  font-family: "Kablammo", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 40;
  font-size: 1.5rem;
}

.doto-font {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "ROND" 0;
}

:root {
  --dark: #2c3138;
  --red: #d73838;
  --light: #edead7;
  --sec: #41454b;
}

body {
  background: var(--light);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

nav img {
  position: absolute;
  height: 2.5em;
  z-index: 12;
}

.blurBox {
  position: absolute;
  height: 3em;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
}

.menuIcon {
  position: absolute;
  right: 0em;
  top: 0em;
  height: 3em;
  width: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 23;
}

.menuIcon p {
  transition: transform 0.3s ease;
  font-size: 1.6em;
}

.rotated {
  transform: rotate(180deg);
}

.menuBox {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 0em;
  top: -16em;
  height: 15em;
  width: 12em;
  background: var(--dark);
  color: var(--light);
  padding: 1em 2em;
  border-radius: 0.5em;
  box-shadow: -7px 7px 15px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease, opacity 0.5s ease;
}

.menuBox.show {
  opacity: 1;
  visibility: visible;
}

.moved {
  transform: translateY(19em);
}

.menu li {
  margin: 0.7em 0;
}

.menu li a {
  text-decoration: none;
  color: var(--light);
}

.heroBox {
  margin-top: 4em;
  text-align: center;
  padding: 2em 1em;
}

.heroBox h1 {
  font-size: 3.2rem;
  color: var(--red);
}

.heroBox h3 {
  margin-top: 0.3em;
  font-size: 1.3rem;
  opacity: 0.9;
}

.heroSubtext {
  margin-top: 0.5em;
  opacity: 0.7;
}

.heroBtn {
  display: inline-block;
  margin-top: 1.2em;
  background: var(--red);
  color: var(--light);
  padding: 0.8em 2em;
  border-radius: 0.4em;
  text-decoration: none;
  transition: 0.3s;
  box-shadow: 5px 5px 10px black;
}

.heroBtn:hover {
  background: #444;
  transform: scale(105%);
}

section {
  margin: 3em 0 0 0;
  text-align: center;
  padding: 1em 1em;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0.7em;
}

.features {
  background: var(--dark);
  color: var(--light);
  padding: 2em 0;
}

.featureGrid {
  display: flex;
  gap: 1.5em;
  padding: 1em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.featureCard {
  background: var(--light);
  padding: 1.5em;
  border-radius: 0.7em;
  text-align: left;
  color: var(--dark);
  max-width: 25em;
  box-shadow: 0px 0px 25px gray;
}

.featureCard h3 {
  color: var(--red);
}

.featureCard p {
  margin-top: 0.5em;
  min-height: 4em;
}

.demoBox {
  position: relative;
  width: 100%;
  margin: 1em auto;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.demoBox video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border: 0;
}

.download {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--dark);
  padding: 3em 0em;
}

.download p {
  color: black;
  font-weight: bold;
  text-align: left;
  padding: 1.2em 0em;
  font-size: 1.1em;
  width: 75%;
  color: var(--light);
}

.quess {
  color: var(--light);
  font-weight: bold;
}

.downloadBtn {
  background: var(--red);
  color: white;
  padding: 0.7em 2.2em;
  border-radius: 0.4em;
  text-decoration: none;
  font-size: 1.1rem;
}

.downloadBtn:hover {
  background: #245ce2;
}

.teamGrid {
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
  margin-top: 2em;
}

.teamCard {
  background: var(--dark);
  padding: 1.2em;
  border-radius: 0.7em;
  width: 45%;
  color: var(--light);
  transition: transform 1s ease;
}

.cardFront {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark);
  color: var(--red);
}

.teamGrid span {
  color: var(--red);
}

.contact {
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 2em 0;
  flex-wrap: wrap;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.icons img {
  width: 2em;
  transition: 0.2s;
}

.icons img:hover {
  transform: scale(1.15);
  transform: rotateZ(360deg);
}

.copyright {
  color: var(--light);
  text-align: center;
  background: var(--dark);
  padding: 1em 0;
  margin-top: 1em;
  font-size: 1rem;
}

.flip-card {
  width: 320px;
  height: 22em;
  perspective: 1200px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s ease;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.cardFront {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.7em;
  backface-visibility: hidden;
  padding: 1.2em;
  font-size: 1.5em;
  font-weight: bold;
  box-shadow: 0px 0px 25px black;
}

.teamCard {
  backface-visibility: hidden;
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 25px black;
}

@media (max-width: 768px) {
  .demoBox iframe {
    height: 10.5em;
  }

  .teamCard {
    width: 100%;
  }

  .teamGrid img {
    width: 75%;
    height: auto;
  }

  .flip-card {
    width: 85%;
  }
}

@media (min-width: 1200px) {
  .flip-card {
    width: 380px;
  }
}

.teamCard {
  background: var(--dark);
  padding: 1.2em;
  border-radius: 0.7em;
  color: var(--light);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: rotateY(180deg);
  backface-visibility: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.teamCard img {
  width: auto;
  height: 13em;
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  .flip-card {
    width: 90%;
    height: 20em;
  }

  .teamCard img {
    height: 10em;
  }

  .cardFront {
    font-size: 1.4em;
    padding: 1em;
  }

  .delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .flip-card {
    width: 100%;
    height: 18em;
  }

  .teamCard img {
    height: 8em;
  }

  .cardFront {
    font-size: 1.2em;
  }
}
